.Footer{
  height: 50px;
  background-image: linear-gradient( #A65D0F,#0B0505 );
  color: white;
  width: 100vw;
  position: relative;
}
.FooterMenuDiv ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  font-size: 18px
  
}
.FooterMenu ul li{

}